<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MoviesServiceSoap"/>
                <binding name="CountriesServiceSoap"/>
                <binding name="PeopleServiceSoap"/>
                <binding name="RolesServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55080/MoviesService.asmx" binding="basicHttpBinding" bindingConfiguration="MoviesServiceSoap" contract="MoviesServiceReference.MoviesServiceSoap" name="MoviesServiceSoap"/>
            <endpoint address="http://localhost:55080/CountriesService.asmx" binding="basicHttpBinding" bindingConfiguration="CountriesServiceSoap" contract="CountriesServiceReference.CountriesServiceSoap" name="CountriesServiceSoap"/>
            <endpoint address="http://localhost:55080/PeopleService.asmx" binding="basicHttpBinding" bindingConfiguration="PeopleServiceSoap" contract="PeopleServiceReference.PeopleServiceSoap" name="PeopleServiceSoap"/>
            <endpoint address="http://localhost:55080/RolesService.asmx" binding="basicHttpBinding" bindingConfiguration="RolesServiceSoap" contract="RolesServiceReference.RolesServiceSoap" name="RolesServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
